.DS_Store
node_modules
.direnv
.pre-commit-config.yaml

.env
.env.*
!.env.development
!.env.production

# SQLite databases
*.db
*.db-journal

# Build artifacts
/dist
/app/static/assets/meta/
app/static/deadlog.db

# Cargo
/target
/e2e/node_modules/
/e2e/test-results/
/e2e/playwright-report/
