.DS_Store
node_modules
.direnv
.pre-commit-config.yaml

.env
.env.*
!.env.development
!.env.production

# SQLite databases
*.db
*.db-journal

# Build artifacts
/dist
/.svelte-kit
/app/.svelte-kit
/app/static/assets/meta/
.nx/cache
.nx/workspace-data
app/static/deadlog.db
