{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 90,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss", "prettier-plugin-sql"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte", "svelteBracketNewLine": false }
		}
	]
}
